{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    {{ title }}
    {% endblock %}

</head>

<body>
    {% block app_content %}
    <div class="container">

        <div class="row">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            {% if task %}
                    <form class="form form-horizontal" method="post" role="form">
                            {{ form.hidden_tag() }}
                            {{ wtf.form_field(form.t_head, value = task.t_name, readonly = true) }}
                            {{ wtf.form_field(form.t_body, placeholder = task.t_desc) }}                                        
                            {{ wtf.form_field(form.ddate , value = task.ddate.strftime('%Y-%m-%d'),readonly=true) }}
                            {{ wtf.form_field(form.submit,value="Edit Task") }}
                    </form>
            {% else %}
                    <form class="form form-horizontal" method="post" role="form">
                            {{ form.hidden_tag() }}
                            {{ wtf.form_field(form.t_head) }}
                            {{ wtf.form_field(form.t_body) }}                                        
                            {{ wtf.form_field(form.ddate) }}
                            {{ wtf.form_field(form.submit) }}
                    </form> 
            {% endif %}           
                <!-- {{ wtf.quick_form(form) }} -->
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
        </div>

    </div>
    {% endblock %}
</body>

</html>
