{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    {{ title }}
    {% endblock %}

</head>

<body>
    {% block app_content %}
    <div class="container">

        <div class="jumbotron">
            <div class="container text-center">
                <h1 class="glyphicon glyphicon-wrench"></h1>
                <h3> Under Construction</h3>
            </div>
        </div>

    </div>

    {% endblock %}

</body>

</html>